.root {
  background: #ffffff66;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  backdrop-filter: blur(3px);
  column-gap: 16px;
  -webkit-backdrop-filter: blur(3px);
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    padding: 32px;
  }
}
.freeBox__mKwFo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  column-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__mKwFo {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.freeBox__zWzod {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background: #ffffff;
  column-gap: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zWzod {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
  }
}
.button:global(.__wab_instance) {
  max-width: 90%;
  position: relative;
  max-height: 80%;
}
.svg__ywbl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__nl8B {
  font-family: "Vazirmatn", sans-serif;
}
.svg__tcTmZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.link__o81V {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg__bd9Rv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__bjjKb {
  font-size: 18px;
  font-weight: 400;
  color: var(--token-U1pf3LWlvd3R);
  line-height: 26px;
  font-family: "Vazirmatn", sans-serif;
}
.svg__fyK6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__laU9 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Vazirmatn", sans-serif;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg__dZef {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__rjbIh {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__ui28U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__fgkJ {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg__kgj5S {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__fYjCt {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
  font-family: "Vazirmatn", sans-serif;
}
.svg__jpTes {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__o8Ta {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg__vDsBv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___07Rsb {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
  font-family: "Vazirmatn", sans-serif;
}
.svg__dVqvv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__ngOmj {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg__wv3ST {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__qN2Wj {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
  font-family: "Vazirmatn", sans-serif;
}
.svg__d0McH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
