.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-b4RtWHeBppOT);
  min-width: 0;
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox__y8K7S {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px var(--token-E-6vV8Cbiab1);
  width: 100%;
  font-size: var(--token-YCGoor7Cs7Do);
  line-height: var(--token-pu378DRu1s38);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-GAKqa6FRDoh2);
  padding: var(--token-GAKqa6FRDoh2) var(--token-BPVdgG5XAm6H)
    var(--token-GAKqa6FRDoh2) var(--token-pmkqHIKkZcTO);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-BPVdgG5XAm6H);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-BPVdgG5XAm6H);
  flex-shrink: 0;
  border-radius: var(--token-GAKqa6FRDoh2);
  padding: var(--token-GAKqa6FRDoh2) var(--token-pmkqHIKkZcTO);
  border: 1px none black;
}
.freeBox__i7V0I {
  display: flex;
  position: relative;
  flex-direction: column;
}
.svg {
  width: var(--token-EVQTPkvB-Uet);
  height: var(--token-EVQTPkvB-Uet);
  flex-shrink: 0;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__ktWaC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
