.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
  padding: 42px 8px 8px;
}
.form {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: none;
  padding: 8px;
}
.formphase__1 {
  display: flex;
}
.formphase__2 {
  display: none;
}
.field {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__rgXlm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wo7Ng {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fmpWn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.field2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__zkYYa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wbIzo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__gf5ZZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.field5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__zuQP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
}
.freeBox__qtCr6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.year:global(.__wab_instance) {
  max-width: 100%;
}
.text__g6R13 {
  text-align: right;
}
.month:global(.__wab_instance) {
  max-width: 100%;
}
.text__sY1G {
  text-align: right;
}
.day:global(.__wab_instance) {
  max-width: 100%;
}
.form2 {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: none;
  padding: 8px;
}
.form2phase__1 {
  display: none;
}
.form2phase__2 {
  display: flex;
}
.freeBox__pJk1P {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___04VsO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #fcfcfc;
  margin-bottom: 10px;
  min-width: 0;
}
.select:global(.__wab_instance) {
  max-width: 100%;
}
.form3 {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: none;
  padding: 8px;
}
.form3phase__1 {
  display: none;
}
.form3phase__2 {
  display: none;
}
.form3phase__3 {
  display: flex;
}
.form3phase__4 {
  display: none;
}
.form3phase__5 {
  display: none;
}
.freeBox__xz3Ls {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__cDqZn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #fcfcfc;
  margin-bottom: 10px;
  text-align: center;
  min-width: 0;
}
.freeBox__ajtE9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.text__zCAey {
  position: relative;
  width: 120px;
  height: 72px;
  max-width: 100%;
  background: #58a4e1;
  color: #ffffff;
  white-space: pre;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 20px;
}
.text__oedTr {
  position: relative;
  width: 120px;
  height: 72px;
  max-width: 100%;
  background: #58a4e1;
  color: #ffffff;
  white-space: pre;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 20px;
}
.text___1DTlV {
  position: relative;
  width: 120px;
  height: 72px;
  max-width: 100%;
  background: #58a4e1;
  color: #ffffff;
  white-space: pre;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 20px;
}
.form4 {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.form4phase__2 {
  display: none;
}
.form4phase__4 {
  display: flex;
}
.field3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__k2Uyr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
}
.textInput3:global(.__wab_instance) {
  max-width: 100%;
}
.svg__y8ZAg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___9GSzQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.field4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__vNer1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
}
.textInput4:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ssfMs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__palq1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.field6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.field6phase__4 {
  display: none;
}
.field6phase__5 {
  display: none;
}
.text___290JJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
}
.freeBox__k9I8J {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.year2:global(.__wab_instance) {
  max-width: 100%;
}
.text__fxz3E {
  text-align: right;
}
.month2:global(.__wab_instance) {
  max-width: 100%;
}
.text___1XmyW {
  text-align: right;
}
.day2:global(.__wab_instance) {
  max-width: 100%;
}
.form5 {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: none;
  padding: 8px;
}
.form5phase__2 {
  display: none;
}
.form5phase__4 {
  display: none;
}
.form5phase__5 {
  display: flex;
}
.field8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__dnVeP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
}
.textInput6:global(.__wab_instance) {
  max-width: 100%;
}
.svg__npJfe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__nRgE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.field7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__mUTvb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
}
.textInput5:global(.__wab_instance) {
  max-width: 100%;
}
.svg__t1WVp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uHh2F {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.form6 {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: none;
  padding: 8px;
}
.form6phase__1 {
  display: none;
}
.form6phase__2 {
  display: none;
}
.form6phase__5 {
  display: none;
}
.form6phase__6 {
  display: flex;
}
.freeBox__y0HjY {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__a33GR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textphase__5__a33GRNw1Oh {
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}
.textphase__6__a33GR9Ppft {
  color: #ffffff;
  text-align: center;
}
.numberInput2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__lhmYa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__t8Svj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #f7f7f7;
  min-width: 0;
}
.textphase__5__t8SvjNw1Oh {
  color: #ffffff;
  margin-bottom: 10px;
}
.numberInput3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.form7 {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: none;
  padding: 8px;
}
.form7phase__1 {
  display: none;
}
.form7phase__2 {
  display: none;
}
.form7phase__3 {
  display: none;
}
.form7phase__4 {
  display: none;
}
.form7phase__5 {
  display: none;
}
.form7phase__6 {
  display: none;
}
.form7phase__7 {
  display: flex;
}
.freeBox___1WiuN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__nqLk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #fcfcfc;
  margin-bottom: 10px;
  text-align: center;
  min-width: 0;
}
.freeBox__qawcx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.text__pxV1G {
  position: relative;
  width: 120px;
  height: 72px;
  max-width: 100%;
  background: #58a4e1;
  color: #ffffff;
  white-space: pre;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 20px;
}
.text__ofyZb {
  position: relative;
  width: 120px;
  height: 72px;
  max-width: 100%;
  background: #58a4e1;
  color: #ffffff;
  white-space: pre;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 20px;
}
.form8 {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: none;
  padding: 8px;
}
.form8phase__1 {
  display: none;
}
.form8phase__2 {
  display: none;
}
.form8phase__3 {
  display: none;
}
.form8phase__4 {
  display: none;
}
.form8phase__5 {
  display: none;
}
.form8phase__6 {
  display: none;
}
.form8phase__7 {
  display: none;
}
.form8phase__8 {
  display: flex;
}
.form8phase__9 {
  display: none;
}
.freeBox__viPav {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__xfqLw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #fcfcfc;
  margin-bottom: 10px;
  text-align: center;
  min-width: 0;
}
.freeBox___88PWs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.text__rpLjv {
  position: relative;
  width: 120px;
  height: 72px;
  max-width: 100%;
  background: #58a4e1;
  color: #ffffff;
  white-space: pre;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 20px;
}
.text__r5TdD {
  position: relative;
  width: 120px;
  height: 72px;
  max-width: 100%;
  background: #58a4e1;
  color: #ffffff;
  white-space: pre;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 20px;
}
.freeBox__lK0Sh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.text__r5Ty {
  position: relative;
  width: 120px;
  height: 72px;
  max-width: 100%;
  background: #58a4e1;
  color: #ffffff;
  white-space: pre;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 20px;
}
.text__bQ0DL {
  position: relative;
  width: 120px;
  height: 72px;
  max-width: 100%;
  background: #58a4e1;
  color: #ffffff;
  white-space: pre;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 20px;
}
.form9 {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: none;
  padding: 8px;
}
.form9phase__1 {
  display: none;
}
.form9phase__2 {
  display: none;
}
.form9phase__3 {
  display: none;
}
.form9phase__4 {
  display: none;
}
.form9phase__5 {
  display: none;
}
.form9phase__6 {
  display: none;
}
.form9phase__7 {
  display: none;
}
.form9phase__9 {
  display: flex;
}
.freeBox___5BcZu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__fj1E6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #fcfcfc;
  margin-bottom: 10px;
  text-align: center;
  min-width: 0;
}
.freeBox__lhdwM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.text___9VlQr {
  position: relative;
  width: 120px;
  height: 72px;
  max-width: 100%;
  background: #58a4e1;
  color: #ffffff;
  white-space: pre;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 20px;
}
.text___7AOcv {
  position: relative;
  width: 120px;
  height: 72px;
  max-width: 100%;
  background: #58a4e1;
  color: #ffffff;
  white-space: pre;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 20px;
}
.form10 {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: none;
  padding: 8px;
}
.form10phase__1 {
  display: none;
}
.form10phase__2 {
  display: none;
}
.form10phase__3 {
  display: none;
}
.form10phase__4 {
  display: none;
}
.form10phase__5 {
  display: none;
}
.form10phase__6 {
  display: none;
}
.form10phase__7 {
  display: none;
}
.form10phase__8 {
  display: none;
}
.form10phase__10 {
  display: flex;
}
.field13 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.field13phase__4 {
  display: flex;
}
.field13phase__7 {
  display: none;
}
.text__ub4S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
}
.textInput8:global(.__wab_instance) {
  max-width: 100%;
}
.svg__cKyCc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__id1LO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.form11 {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: none;
  padding: 8px;
}
.form11phase__1 {
  display: none;
}
.form11phase__2 {
  display: none;
}
.form11phase__3 {
  display: none;
}
.form11phase__4 {
  display: none;
}
.form11phase__5 {
  display: none;
}
.form11phase__6 {
  display: none;
}
.form11phase__7 {
  display: none;
}
.form11phase__8 {
  display: none;
}
.form11phase__11 {
  display: flex;
}
.field9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.field9phase__4 {
  display: flex;
}
.field9phase__7 {
  display: none;
}
.text__ywrA3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
}
.textInput7:global(.__wab_instance) {
  max-width: 100%;
}
.svg__iNsol {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__j6Zmb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.field11 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__mD7E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
}
.textInput9:global(.__wab_instance) {
  max-width: 100%;
}
.svg___9Tlur {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__i1CD {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.field10 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__zKhhJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
}
.textarea {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffffe6;
  text-align: right;
  min-width: 0;
}
.field12 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__mlp2E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
}
.numberInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.form12 {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: none;
  padding: 8px;
}
.form12phase__1 {
  display: none;
}
.form12phase__2 {
  display: none;
}
.form12phase__3 {
  display: none;
}
.form12phase__4 {
  display: none;
}
.form12phase__5 {
  display: none;
}
.form12phase__6 {
  display: none;
}
.form12phase__7 {
  display: none;
}
.form12phase__9 {
  display: none;
}
.form12phase__12 {
  display: flex;
}
.freeBox__tvu4I {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___9TgVk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #fcfcfc;
  margin-bottom: 10px;
  text-align: center;
  min-width: 0;
}
.freeBox__rsHir {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.text__xwcbL {
  position: relative;
  width: 120px;
  height: 72px;
  max-width: 100%;
  background: #58a4e1;
  color: #ffffff;
  white-space: pre;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 20px;
}
.text___8Tsb {
  position: relative;
  width: 120px;
  height: 72px;
  max-width: 100%;
  background: #58a4e1;
  color: #ffffff;
  white-space: pre;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 20px;
}
.form13 {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: none;
  padding: 8px;
}
.form13phase__1 {
  display: none;
}
.form13phase__2 {
  display: none;
}
.form13phase__3 {
  display: none;
}
.form13phase__4 {
  display: none;
}
.form13phase__5 {
  display: none;
}
.form13phase__6 {
  display: none;
}
.form13phase__7 {
  display: none;
}
.form13phase__8 {
  display: none;
}
.form13phase__11 {
  display: none;
}
.form13phase__13 {
  display: flex;
}
.field14 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.field14phase__4 {
  display: flex;
}
.field14phase__7 {
  display: none;
}
.text__bKuK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
}
.textInput10:global(.__wab_instance) {
  max-width: 100%;
}
.svg__aYGdC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fvXfK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.field15 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__qj3Op {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
}
.textInput11:global(.__wab_instance) {
  max-width: 100%;
}
.svg__qvqE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___1FoB {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.field16 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__xFrwz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
}
.select2:global(.__wab_instance) {
  max-width: 100%;
}
.field17 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__fPqgy {
  position: relative;
  width: 250px;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
}
.textInput12:global(.__wab_instance) {
  max-width: 100%;
}
.svg__lLaL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jpVvs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.form14 {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: none;
  padding: 8px;
}
.form14phase__1 {
  display: none;
}
.form14phase__2 {
  display: none;
}
.form14phase__3 {
  display: none;
}
.form14phase__4 {
  display: none;
}
.form14phase__5 {
  display: none;
}
.form14phase__6 {
  display: none;
}
.form14phase__7 {
  display: none;
}
.form14phase__8 {
  display: none;
}
.form14phase__11 {
  display: none;
}
.form14phase__13 {
  display: none;
}
.form14phase__14 {
  display: flex;
}
.field18 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.field18phase__4 {
  display: flex;
}
.field18phase__7 {
  display: none;
}
.text__iIs5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  min-width: 0;
}
.upload:global(.__wab_instance) {
  object-fit: cover;
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 100px;
  margin-bottom: 100px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__pbU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.form15 {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: none;
  padding: 8px;
}
.form15phase__1 {
  display: none;
}
.form15phase__2 {
  display: none;
}
.form15phase__3 {
  display: none;
}
.form15phase__4 {
  display: none;
}
.form15phase__5 {
  display: none;
}
.form15phase__6 {
  display: none;
}
.form15phase__7 {
  display: none;
}
.form15phase__8 {
  display: none;
}
.form15phase__11 {
  display: none;
}
.form15phase__13 {
  display: none;
}
.form15phase__14 {
  display: none;
}
.form15phase__15 {
  display: flex;
}
.field19 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.field19phase__4 {
  display: flex;
}
.field19phase__7 {
  display: none;
}
.text___2Qzh {
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
}
.textInput13:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ro7Xr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rhc86 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.submit:global(.__wab_instance) {
  max-width: 100%;
}
.submitphase__3:global(.__wab_instance) {
  display: none;
}
.submitphase__5:global(.__wab_instance) {
  display: flex;
}
.submitphase__7:global(.__wab_instance) {
  display: none;
}
.submitphase__8:global(.__wab_instance) {
  display: none;
}
.submitphase__9:global(.__wab_instance) {
  display: none;
}
.submitphase__12:global(.__wab_instance) {
  display: none;
}
.svg__hiLx0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___4QepV {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.backIcon {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  width: 50px;
  height: 50px;
  flex-grow: 1;
  position: absolute;
  left: 33%;
  top: 0;
  transition-property: color;
  transition-duration: 0.5s;
  cursor: pointer;
  flex-shrink: 0;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.5s;
}
.backIconphase__1 {
  display: none;
}
.root .backIcon:hover {
  color: #00c8ff;
}
