.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #01527a;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.signUpForm:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.mainSection {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7f9fb;
  min-width: 0;
  display: none;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .mainSection {
    padding: 3em 15px 1.5em;
  }
}
.pageBanner {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-VYE8kyI1XwO3);
  min-width: 0;
  padding: 0px;
}
.freeBox__f409M {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  background: none;
  max-width: 1380px;
  min-width: 0;
  padding: 64px 32px 58px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__f409M {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    background: none;
    max-width: 1380px;
    min-width: 0;
    padding: 58px 32px 41px;
  }
}
.columns___98Y6C {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0px;
  row-gap: 12px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns___98Y6C > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___98Y6C > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___98Y6C {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    column-gap: 0px;
    row-gap: 12px;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___98Y6C > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ugwh2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___3Qby2 {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #0f22229c;
  width: 100%;
  height: auto;
  margin-right: -373px;
  left: 187px;
  top: 98px;
  z-index: 111;
  row-gap: 16px;
  min-width: 0;
  padding: 30px;
  border-left: 8px solid var(--token-ySal910m4mp1);
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___3Qby2 {
    position: relative;
    left: auto;
    top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #0f22229c;
    width: 100%;
    height: auto;
    z-index: 111;
    row-gap: 16px;
    column-gap: 0px;
    min-width: 0;
    padding: 30px;
    margin: 0px;
    border-left: 8px solid var(--token-ySal910m4mp1);
  }
}
.h1 {
  font-size: 50px;
  line-height: 1.2;
  font-style: normal;
  font-weight: 600;
  color: var(--token-Jy0WKGie8g_L);
  padding-bottom: 0px;
}
.text__rudwi {
  margin-top: 0px;
  margin-bottom: 12px;
  padding-bottom: 0px;
  max-width: 602px;
  width: 100%;
  color: var(--token-Jy0WKGie8g_L);
  min-width: 0;
}
.column__m6Bdm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img___1Ce23 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___1Ce23 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img___1Ce23 {
    position: relative;
    object-fit: cover;
    max-width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img___1Ce23 > picture > img {
    object-fit: cover;
  }
}
.mainSection2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7f9fb;
  min-width: 0;
  padding: 78px 0px 75px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .mainSection2 {
    position: relative;
  }
}
.columns___6ZeNo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1200px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns___6ZeNo > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___6ZeNo > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___6ZeNo {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    max-width: 1200px;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___6ZeNo > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__nfmE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.container4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1200px;
  background: #ffffff;
  padding: 30px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  align-self: auto;
  font-size: 30px;
  padding-bottom: 0px;
  min-width: 0;
  margin: 0px 0px 2.5rem;
}
.label__aQiZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #4c5267;
  font-size: 18px;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 47px;
  flex-shrink: 0;
  margin: 0px 0px 1em;
}
.svg__ut3Oq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__scYN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.label__j2MgV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #4c5267;
  font-size: 18px;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 47px;
  flex-shrink: 0;
  margin: 0px 0px 1em;
}
.svg__nOAf4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jQDvl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.label__dtf06 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #4c5267;
  font-size: 18px;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
.textInput3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 47px;
  flex-shrink: 0;
  margin: 0px 0px 1em;
}
.svg__cvHyD {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___30XFi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin: 0px 0px 1.67em;
}
.text___8CDbX {
  font-size: 18px;
  max-width: 583px;
  width: auto;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___8CDbX {
    font-size: 18px;
    max-width: 583px;
    width: auto;
  }
}
.link {
  background: var(--token-VYE8kyI1XwO3);
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  align-self: flex-start;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 300px;
  padding: 13px 24px;
  border: 1px solid transparent;
}
.svg__c1E80 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__c0C2N {
  color: #ffffffd9;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 0px;
}
.svg__ofXfu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.column__nePmg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__m8OFd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__m8OFd > picture > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
