.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__hTcQb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__a295H {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__a295H {
    width: 100%;
    min-width: 0;
    padding: 128px 32px;
  }
}
.freeBox__izOb9 {
  display: block;
  position: absolute;
  height: 500px;
  left: 0;
  top: 0;
  right: 0;
  width: auto;
  background: var(--token-dFdIPO0Fo_5x);
  flex-shrink: 0;
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  max-width: 1080px;
  row-gap: 64px;
}
.freeBox__yuxK {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 16px;
}
.freeBox__uJpWb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h1 {
  color: var(--token-Jy0WKGie8g_L);
}
.text__ffwH6 {
  height: auto;
  max-width: 699px;
  width: 100%;
  color: var(--token-Jy0WKGie8g_L);
  text-align: center;
  min-width: 0;
}
.freeBox__mmTwc {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  max-width: 1920px;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__mmTwc {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__luGnT {
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
  box-shadow: 0px 10px 10px 0px #00000026;
  width: 100%;
  min-width: 0;
}
.freeBox__mqoe9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 16px;
  padding: 32px;
}
.text__ecOab {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
}
.freeBox__bVyTw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
.freeBox__n2FSa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__sUe1S {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9;
  width: auto;
}
.h2__rDgf {
  width: auto;
}
.text__y4LWp {
  line-height: 28px;
  color: #05050599;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
  font-family: "Montserrat", sans-serif;
}
.freeBox__zefWi {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__buMjW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  row-gap: 32px;
  padding: 32px;
}
.freeBox__x35I6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 16px;
}
.freeBox__wkO1O {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox__pfnsU {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__uZxR {
  object-fit: cover;
  color: var(--token-VYE8kyI1XwO3);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__jdrG2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__eZlM0 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__qyHnf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__wMkJu {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__yrjFm {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox___9VDw {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__sXzN {
  object-fit: cover;
  color: var(--token-VYE8kyI1XwO3);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__eAgWf {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__lNasn {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___9CexG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__ll9Xn {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__kayz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.button___3FeWp:global(.__wab_instance) {
  max-width: 100%;
}
.svg__hJher {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___0Roi3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__uwjjp {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 10px 10px 0px #00000026;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  border: 4px solid var(--token-dFdIPO0Fo_5x);
}
.freeBox__hnEPx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--token-Pt4AicOK7ApY);
  row-gap: 16px;
  padding: 32px;
}
.text__t02Xh {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
  color: var(--token-dFdIPO0Fo_5x);
}
.freeBox__b85Ep {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
.freeBox___3Kzj7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__fVwzu {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9;
  width: auto;
}
.h2__iwJfe {
  width: auto;
}
.text__bHqb {
  line-height: 28px;
  color: #05050599;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.freeBox__npfrw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  align-self: flex-end;
  row-gap: 32px;
  padding: 32px;
}
.freeBox__lmhdd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 16px;
}
.freeBox__zx4To {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox__en1Eo {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__fkahd {
  object-fit: cover;
  color: var(--token-VYE8kyI1XwO3);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__gnvjq {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__clFy4 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__j5Dt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text___3CWwa {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox___1W0Jp {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox__cd4Ii {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__aDEfY {
  object-fit: cover;
  color: var(--token-VYE8kyI1XwO3);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__c5Omm {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg___6KwHe {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___7Ivzh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__wkXzG {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.text__rwPg8 {
  height: auto;
}
.freeBox___0CEk1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox___98Ozx {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg___1ZtxR {
  object-fit: cover;
  color: var(--token-VYE8kyI1XwO3);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__fyyZ {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__ze5MQ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__mVM6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__e7YLy {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__rwqCo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox__bf6Ku {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__tipIm {
  object-fit: cover;
  color: var(--token-VYE8kyI1XwO3);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__bZDeo {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__zkIxe {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___6LRk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text___04Jdm {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.text__hl1Mg {
  height: auto;
}
.freeBox__mGYc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.button__uAlVf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__tqs5Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lx2Al {
  text-transform: uppercase;
}
.svg__nc15Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__e36D8 {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__kIz3E {
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
  box-shadow: 0px 10px 10px 0px #00000026;
  width: 100%;
  min-width: 0;
}
.freeBox__yue9V {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 16px;
  padding: 32px;
}
.text__lHap {
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Montserrat", sans-serif;
}
.freeBox__grPPc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
.freeBox__pj97V {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__wrBcn {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9;
  width: auto;
}
.h2___0Ke3 {
  width: auto;
}
.text__xHhWv {
  line-height: 28px;
  color: #05050599;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.freeBox__woo0P {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox___5LeWc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  row-gap: 32px;
  padding: 32px;
}
.freeBox___2GLn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 16px;
}
.freeBox___0Cz5B {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox___5GpXl {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__telQ {
  object-fit: cover;
  color: var(--token-VYE8kyI1XwO3);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox___384X5 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__tmCsG {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__vg4Pp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text___28B1R {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__i6A1Q {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.freeBox___2AXOu {
  background: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 0px;
}
.svg__tzPZm {
  object-fit: cover;
  color: var(--token-VYE8kyI1XwO3);
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__iPKvS {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 0px;
}
.svg__f7Rfa {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__iNcie {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 4px;
}
.text__hzN {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.freeBox__mX6Kq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.button__gx61S:global(.__wab_instance) {
  max-width: 100%;
}
.svg__eUjk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__r7LJf {
  height: auto;
}
.svg__fUDsy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.faQs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-O0zRSDroatJO);
  min-width: 0;
  padding: 4.17em 15px 3.33em;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .faQs {
    padding: 3em 15px 1.5em;
  }
}
.container5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 750px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
.h2__idPkn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__idPkn {
    font-size: 24px;
  }
}
.text__ll2Lc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 677px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__ll2Lc {
    font-size: 1em;
    margin: 0px 0px 0em;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1380px;
  column-gap: 30px;
  min-width: 0;
  --plsmc-rc-col-gap: 30px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 30px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___1G58X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.accordion4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.h5___4Yi5P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 3px 3px 0px 0px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5___4Yi5P {
    font-size: 18px;
    padding: 15px;
  }
}
.text__yGKse {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 0px 0px 3px 3px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__yGKse {
    padding: 15px;
  }
}
.column__fNc3M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.accordion8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.h5__maxhE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 3px 3px 0px 0px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__maxhE {
    font-size: 18px;
    padding: 15px;
  }
}
.text__lX25O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 0px 0px 3px 3px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__lX25O {
    padding: 15px;
  }
}
.column__siHeE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.accordion9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.h5__rvNyQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 3px 3px 0px 0px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__rvNyQ {
    font-size: 18px;
    padding: 15px;
  }
}
.text__xw2Fa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 0px 0px 3px 3px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__xw2Fa {
    padding: 15px;
  }
}
.column__z87Uh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.accordion10 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.h5__eJ5Ie {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 3px 3px 0px 0px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__eJ5Ie {
    font-size: 18px;
    padding: 15px;
  }
}
.text__fbWfp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  border-radius: 0px 0px 3px 3px;
  padding: 20px;
  border: 1px solid #ebecf0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__fbWfp {
    padding: 15px;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
