.root:global(.__wab_instance) {
  position: relative;
  background: var(--token--9XciEXylOYq);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-AxKG83ucxFQ7);
  font-family: var(--token-CDSIaXOXX8BB);
  font-size: var(--token-YCGoor7Cs7Do);
  line-height: var(--token-pu378DRu1s38);
  outline-style: none;
  border-radius: var(--token-GAKqa6FRDoh2);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-O9euKmDk3wNx);
  outline-offset: 1px;
  outline-color: var(--token--9XciEXylOYq);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-7RlpN7ygr_DX);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-zxMJDuhWTR4w);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-s2Iy0nElwUqP);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-Yq-ajG0JRROS);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-MDbE7wQMHEgh);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-ddxQdXIfpBdk);
  font-size: var(--token-X5TXTos_rSGP);
  column-gap: var(--token-O9euKmDk3wNx);
  row-gap: 0px;
  border-radius: var(--token-b4RtWHeBppOT);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-X5TXTos_rSGP);
  line-height: var(--token-ddxQdXIfpBdk);
  column-gap: var(--token-b4RtWHeBppOT);
  row-gap: 0px;
  border-radius: var(--token-b4RtWHeBppOT);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-4_YkfHPlVnex);
  line-height: var(--token-dcr3mZja9RnH);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-4_YkfHPlVnex);
  line-height: var(--token-dcr3mZja9RnH);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-I5fzuRfGpBtu);
  border-radius: var(--token-GAKqa6FRDoh2);
}
.softBackgroundcolor_neutral {
  background: var(--token-gCJ2ndfafQXO);
}
.softBackgroundcolor_muted {
  background: var(--token-kDpm-MXOM22B);
}
.softBackgroundcolor_success {
  background: var(--token-3p4bZu8fx1OB);
}
.softBackgroundcolor_warning {
  background: var(--token-f0Qnffj0o9vo);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-k7TgLQaKB_oS);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-GAKqa6FRDoh2);
  border: 0px solid var(--token-iW7fhH2Ufpwk);
}
.bordercolor_neutral {
  border-color: var(--token-IkQB3TqoHDY-);
}
.bordercolor_muted {
  border-color: var(--token-JwcX6iBXd2cF);
}
.bordercolor_success {
  border-color: var(--token-dIcs3RJstr0F);
}
.bordercolor_warning {
  border-color: var(--token-2IfcJaoixTRa);
}
.bordercolor_errorDestructive {
  border-color: var(--token-ayImyzhhrtQy);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-GAKqa6FRDoh2);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-HViB7CG3HOzk);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-nQNXv-G9aXsx);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-aQrcstWH-ADQ);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___7Y4FK {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-GAKqa6FRDoh2);
  min-width: 0;
  min-height: 0;
  padding: var(--token-GAKqa6FRDoh2) var(--token-pmkqHIKkZcTO);
}
.freeBoxsize_extraSmall___7Y4FKzIcaH {
  padding: var(--token-b4RtWHeBppOT) var(--token-GAKqa6FRDoh2);
}
.freeBoxsize_small___7Y4FKeWEg {
  padding: var(--token-GAKqa6FRDoh2) var(--token-AxKG83ucxFQ7);
}
.freeBoxsize_large___7Y4FKnjWbV {
  padding-top: var(--token-b4RtWHeBppOT);
  padding-bottom: var(--token-b4RtWHeBppOT);
}
.freeBoxsize_extraLarge___7Y4FKpvUvf {
  padding-left: var(--token-T6DQM1zZbHCW);
  padding-right: var(--token-T6DQM1zZbHCW);
}
.freeBoxroundedFull___7Y4FKoosWd {
  padding-right: var(--token-T6DQM1zZbHCW);
  padding-left: var(--token-T6DQM1zZbHCW);
}
.freeBox__pvOhn {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__pvOhnk31J0 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-gaqdyU6wdyPa);
}
.slotTargetStartcolor_neutral {
  color: var(--token-8pUSHsR7G7iX);
}
.slotTargetStartcolor_muted {
  color: var(--token-mRZTzhPAOY_O);
}
.slotTargetStartcolor_success {
  color: var(--token-_c2v-brvSVw3);
}
.slotTargetStartcolor_warning {
  color: var(--token-oghFd6g_cMju);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-Q2SUk0knfXga);
}
.slotTargetStarttype_soft {
  color: var(--token-Kehw4zQpcCYM);
}
.slotTargetStarttype_bordered {
  color: var(--token-Kehw4zQpcCYM);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-X5TXTos_rSGP);
}
.slotTargetStartsize_small {
  font-size: var(--token-X5TXTos_rSGP);
}
.slotTargetStartsize_large {
  font-size: var(--token-4_YkfHPlVnex);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-4_YkfHPlVnex);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-bqVebFDgAe9n);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-bqVebFDgAe9n);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-hx7R0C8qzkfa);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-hx7R0C8qzkfa);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-h-z6VbP3xRyO);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-h-z6VbP3xRyO);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-mC5Ttv1jLfrU);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-mC5Ttv1jLfrU);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-e5sratcg5iJF);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-e5sratcg5iJF);
}
.svg__avoxu {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-gaqdyU6wdyPa);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-8pUSHsR7G7iX);
}
.slotTargetLabelcolor_muted {
  color: var(--token-mRZTzhPAOY_O);
}
.slotTargetLabelcolor_success {
  color: var(--token-_c2v-brvSVw3);
}
.slotTargetLabelcolor_warning {
  color: var(--token-oghFd6g_cMju);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-Q2SUk0knfXga);
}
.slotTargetLabeltype_soft {
  color: var(--token-Kehw4zQpcCYM);
}
.slotTargetLabeltype_bordered {
  color: var(--token-Kehw4zQpcCYM);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-bqVebFDgAe9n);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-hx7R0C8qzkfa);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-bqVebFDgAe9n);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-h-z6VbP3xRyO);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-hx7R0C8qzkfa);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-mC5Ttv1jLfrU);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-h-z6VbP3xRyO);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-e5sratcg5iJF);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-mC5Ttv1jLfrU);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-e5sratcg5iJF);
}
.text__kNwCr {
  white-space: pre;
}
.freeBox__hAJhQ {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__hAJhQ96OUt {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-gaqdyU6wdyPa);
}
.slotTargetEndcolor_neutral {
  color: var(--token-8pUSHsR7G7iX);
}
.slotTargetEndcolor_muted {
  color: var(--token-mRZTzhPAOY_O);
}
.slotTargetEndcolor_success {
  color: var(--token-_c2v-brvSVw3);
}
.slotTargetEndcolor_warning {
  color: var(--token-oghFd6g_cMju);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-Q2SUk0knfXga);
}
.slotTargetEndtype_soft {
  color: var(--token-Kehw4zQpcCYM);
}
.slotTargetEndtype_bordered {
  color: var(--token-Kehw4zQpcCYM);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-X5TXTos_rSGP);
}
.slotTargetEndsize_small {
  font-size: var(--token-X5TXTos_rSGP);
}
.slotTargetEndsize_large {
  font-size: var(--token-4_YkfHPlVnex);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-4_YkfHPlVnex);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-bqVebFDgAe9n);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-bqVebFDgAe9n);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-hx7R0C8qzkfa);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-hx7R0C8qzkfa);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-h-z6VbP3xRyO);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-h-z6VbP3xRyO);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-mC5Ttv1jLfrU);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-mC5Ttv1jLfrU);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-e5sratcg5iJF);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-e5sratcg5iJF);
}
.svg__pb0Gz {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
